
{% load static %}

<!-- info section -->
  <section class="info_section long_section">

    <div class="container">
      <div class="contact_nav">
        <a href="">
          <i class="fa fa-phone" aria-hidden="true"></i>
          <span>
              Ara : 0505 359 17 25
          </span>
        </a>
        <a href="">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <span>
              dalyan.ismail@gmail.com
          </span>
        </a>
        <a href="">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <span>
            dalyan.ismail@gmail.com
          </span>
        </a>
      </div>

      <div class="info_top ">
        <div class="row ">
          <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="info_links">
              <h4>
                hızlı menü
              </h4>
              <div class="info_links_menu">
                <a class="" href="{% url 'index'%}">Anasayfa <span class="sr-only">(current)</span></a>
                <a class="" href="{% url 'hakkimizda'%}">Hakkımızda</a>
                <a class="" href="{% url 'mansetler'%}">Haberler</a>
                <a class="" href="{% url 'blog'%}">Blog</a>
                <a class="" href="{% url 'iletisim'%}">İletişime geç</a>
              </div>
            </div>
          </div>
        
          <div class="col-md-6">
            <div class="info_form">
             
              <div class="social_box">
                <a href="">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end info_section -->


  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> Tüm hakları saklıdır.
        <a href="https://octopusoftware.com">Octapus Software</a>
      </p>
    </div>
  </footer>
  <!-- footer section -->
  